/* Collapse header */

.swap-card .ant-collapse {
  margin-top: 10px;
  /* padding: 10px 0; */
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-header {
  color: var(--green);
  transition: all 0.3s ease;
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-header:hover {
  color: var(--green-dark);
  background-color: rgba(6, 214, 160, 0.1);
}

.ant-collapse-ghost
  > .ant-collapse-item.ant-collapse-item-active
  > .ant-collapse-header {
  color: var(--green-dark);
}

.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  color: var(--green);
}

.ant-collapse-ghost
  > .ant-collapse-item
  > .ant-collapse-header:hover
  .ant-collapse-arrow {
  color: var(--green-dark);
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.setting-item:last-child {
  margin-bottom: 0;
}

.setting-label {
  /* font-size: 16px; */
  /* font-weight: 500; */
  color: #333;
}

.deadline-input {
  width: 80px;
}

/* .gas-fee-radio-group */

.gas-fee-radio-group .ant-radio-button-wrapper {
  border: none;
  background-color: #f0f0f0;
  color: var(--green);
  transition: all 0.3s;
}

.gas-fee-radio-group .ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}

.gas-fee-radio-group .ant-radio-button-wrapper:hover {
  color: var(--green-dark);
  background-color: #e0e0e0;
}

.gas-fee-radio-group .ant-radio-button-wrapper-checked {
  background-color: var(--green);
  color: white;
  box-shadow: none;
}

.gas-fee-radio-group .ant-radio-button-wrapper-checked:hover {
  background-color: var(--green-dark);
  color: white;
}

.gas-fee-radio-group .ant-radio-button-wrapper:focus-within {
  box-shadow: none;
  outline: none;
}

/* 確保按鈕之間有一些間距 */
.gas-fee-radio-group .ant-radio-button-wrapper {
  margin-left: 8px;
}

/* 圓角處理 */
.gas-fee-radio-group .ant-radio-button-wrapper {
  border-radius: 4px;
}

/* 移除 Ant Design 的默認 focus 樣式 */
.gas-fee-radio-group .ant-radio-button-wrapper:focus-within {
  outline: none;
}

@media (max-width: 768px) {
  .gas-fee-radio-group .ant-radio-button-wrapper {
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 480px) {
  .gas-fee-radio-group .ant-radio-button-wrapper {
    margin-left: 5px;
    padding-right: 8px;
    padding-left: 8px;
  }
}

.settings-button {
  background-color: var(--green);
  border-color: var(--green);
  color: white;
}

.settings-button:hover,
.settings-button:focus {
  background-color: var(--green-dark);
  border-color: var(--green-dark);
  color: white;
}

.ant-input-number-handler-wrap {
  background-color: var(--green);
}

.ant-input-number-handler:hover .ant-input-number-handler-up-inner,
.ant-input-number-handler:hover .ant-input-number-handler-down-inner {
  color: white;
}

.ant-input-number:hover,
.ant-input-number:focus {
  border-color: var(--green);
}

.ant-input-number-focused {
  box-shadow: 0 0 0 2px rgba(6, 214, 160, 0.2);
}

.setting-info-icon {
  background: none;
  border: none;
  padding: 4px;
  margin-left: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45);
  transition: color 0.3s;
}
